/*Eliminando margenes a la página*/
*{
	margin: 0
}

/*Agregando fuente*/
body{
	font-family: 'Montserrat', sans-serif;
	background-color: #1d1a05;
}

/*color del header*/
header ul{
	background-color: hsl(360, 80%, 47%);
	padding: 0px 0px 0px 84px;
}

/**/
header a{
	color: white;
}

/**/
header li{
	list-style: none;
	display: inline-block;
	padding: 25px 15px;
}

figure{
	padding: 23px 0px 0px 90px;
}

img{
	width: 200px;
	box-sizing: border-box;
	border: 7px #909497 solid;
	filter: grayscale();
	margin: 10px;
}

article{
	margin-left: 100px;
}

div{
	color: white;
	display: inline-block;
	background-color: hsl(360, 80%, 47%);
	padding: 10px 139px;
}




