/*Eliminando margenes a la página*/
*{
	margin: 0
}

/*Agregando fuente*/
body{
	font-family: 'Montserrat', sans-serif;
	background-color: #1d1a05;
}

/*color del header*/
header ul{
	background-color: #ca3c25;
	padding: 0px 0px 0px 84px;
}

/**/
header a{
	color: white;
}

/**/
header li{
	list-style: none;
	display: inline-block;
	padding: 25px 15px;
}

#imagenes{
	height: 250px;
}

figure{
	top: 25px;
	left: 99px;
	position: relative;
}

img{
	position: absolute;
	width: 200px;
	box-sizing: border-box;
	border: 7px #909497 solid;
	filter: grayscale();
}

span{
	position: absolute;
	top: 4px;
	left: 180px;

}

#botones{
	margin-left: 100px;
}

#botones div{
	box-sizing: border-box;
	color: white;
	display: inline-block;
	background-color: #ca3c25;
	padding: 10px 143px;
	font-size: 15px;
}

#parrafos{
	margin-left: 90px;
	box-sizing: content-box;
}

#parrafos div{
	display: inline-block;
	width: 532px;
	text-align: justify;
	color: white;
	font-size: 14px;
}

#texto1{
	margin: 20px 10px 0px 10px;

}

#texto2{
	margin: 20px 10px 0px 10px;
}

.parrafo2{
	margin-top: 20px;
}
